/*
Theme Name: Answer Dentist
Text Domain: answerdentest
Version: 1.0
Requires PHP: 5.2.4
Description:  For Answer Dentist website only
Author: C-point
Author URI: https://c-point.co.th/
Theme URI: https://c-point.co.th/


*/

img{ max-width: 100%;}

/** main menu **/
div#site-menu li {list-style: none;display: block;padding: 10px 0px;margin: 11px 0px;border-bottom: 2px solid transparent;float: left;}
div#site-menu li a {color: #7c7c7c;padding: 0px 10px;border-right: 1px solid #7c7c7c;text-transform: uppercase;}
#site-logo img {max-width: 140px;max-width: 140px;display: inline-block;padding: 5px 0px;margin: 9px 0px;}

div#site-menu ul {padding: 0;margin: 0;}
div#site-menu ul.sub-menu {display: none;}
div#site-menu li a:hover {text-decoration: none;}
div#site-menu li:hover {border-bottom: 2px solid #2dbbc9;}
div#site-menu ul:after {content: "";display: block;clear: both;}
div#site-menu li:last-child a {border : none;}
div#site-menu li:last-child:hover ul {display: block;position: absolute;z-index: 1;background: white;border: none;}
div#site-menu li:last-child:hover ul li{padding: 0;margin: 0;}
div#site-menu li:last-child:hover ul li:hover {border:none;}

div#site-menu li:last-child:hover ul li a{border:none;}
/** home banner section **/
.homebanner {text-align: center;padding: 50px;}
.homebanner img{max-width: 180px;margin-bottom: 20px;}
.homebanner img.bigbanner {max-width: 80%;}
.left-banner p,.left-banner h4{color:white;}
.left-banner{background-color: #2c4db6;}
.right-banner{background-color: #9eede8;}


/** home link section **/
section#home-link img {max-width: 180px;display: inline-block;    margin: 0 10px; padding-bottom: 10px;padding-top: 10px;}
.slide-container{padding: 0;}
section#home-link {text-align: center;padding-top: 50px;padding-bottom: 50px;background: rgb(12,163,224);background: linear-gradient(0deg, rgba(12,163,224,0.6180847338935574) 0%, rgba(255,255,255,1) 27%, rgb(255, 255, 255) 100%);}
.bar-link {margin-top: 50px;}
.bar-link a{display: inline-block;background: url("./assets/images/link-left.png");background-repeat: no-repeat;background-size: 100%;height: 52px;width: 220px;    margin-top: 10px;margin-bottom: 10px;}
a#companyth         {background: url("./assets/images/link-company-th.png");background-repeat: no-repeat;background-size: 100%;}
a#companyth:hover   {background: url("./assets/images/link-company-th-hover.png");background-repeat: no-repeat;background-size: 100%;}
a#contactth         {background: url("./assets/images/link-contact-th.png");background-repeat: no-repeat;background-size: 100%;}
a#contactth:hover   {background: url("./assets/images/link-contact-th-hover.png");background-repeat: no-repeat;background-size: 100%;}

a#companyen         {background: url("./assets/images/link-company-en.png");background-repeat: no-repeat;background-size: 100%;}
a#companyen:hover   {background: url("./assets/images/link-company-en-hover.png");background-repeat: no-repeat;background-size: 100%;}
a#contacten         {background: url("./assets/images/link-contact-en.png");background-repeat: no-repeat;background-size: 100%;}
a#contacten:hover   {background: url("./assets/images/link-contact-en-hover.png");background-repeat: no-repeat;background-size: 100%;}


/*** sitemap section **/
section#sitemap {text-align: center;background: #2d4db6;padding-top: 40px;padding-bottom: 30px;}
section#sitemap img {display: inline-block; max-width: 100px;}

#map {width: 100%;padding-top: 0px;padding-bottom: 0px;padding: 0;}
#map iframe{width: 100%;min-height: 450px;}


/*** home footer **/
section#home-footer img {max-width: 140px;}
section#home-footer {margin-top: 25px;margin-bottom:25px;text-align: center;}



/*** single post ***/
div#article-title {background: rgb(55,215,193);background: linear-gradient(90deg, rgba(55,215,193,1) 0%, rgba(7,165,225,1) 100%);text-align: center;padding: 10px 0;margin-bottom: 20px;}
div#article-title * {color: white;}

.content-title{color: #2d4db6;margin-bottom: 20px;}
.article-content {padding-bottom: 40px;border-bottom: 2px solid #b0b0b0;}
.article-content img {margin-bottom: 20px;}
div#relate-post {padding: 50px 0;}
section#post-footer {padding: 25px 0 25px;text-align: center;background: #2d4db6;}
section#post-footer img {max-width: 140px;}
.article-contact {padding-bottom: 50px;  text-align: center;}

/*** siglepost sidebar **/
.sidebar ul {margin: 0;padding: 0;list-style: none; text-align: center;text-align: left;margin-top: 50px;}
.sidebar ul li {margin: 15px 0;}
.sidebar ul li:last-child {display: none;}
.sidebar ul li a {color: #606060;}

/*** mobile nav **/
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #606060;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#menuToggle span:first-child{transform-origin: 0% 0%;}
#menuToggle span:nth-last-child(2){ transform-origin: 0% 100%;}
#menuToggle input:checked ~ span{ opacity: 1; transform: rotate(45deg) translate(-2px, -1px); background: #232323;}

.mobile-toggle-container{float: right; margin-top: 20px;}
nav#mobile-menu ul {
    list-style: none;
    padding: 0;
    text-transform: uppercase;
}

nav#mobile-menu {
    padding: 0;
}

nav#mobile-menu ul a {
    color: #606060;
}
nav#mobile-menu li.pll-parent-menu-item a {
    display: inline-block;
}

nav#mobile-menu li.pll-parent-menu-item ul.sub-menu a {
    display: inline-block;
}nav#mobile-menu li.pll-parent-menu-item ul.sub-menu {
    display: inline-block;
    padding-left: 15px;
}